/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* #region header */
.header-main {
}
.header-nav {
}
.nav-list {
}

.nav-item {
}
.nav-link {
}
.contact {
  color: #434455;
}
.contact-list {
}
.contact-item {
}
.contact-link {
}

/* #endregion header */
/* #region hero */
.hero {
}
.main-title {
}

/* #endregion hero */
/* #region our */
.our {
}
.our-list {
}
.our-item {
}
.our-text {
}
/* #endregion our */
/* #region team */
.team {
}
.team-list {
}
.team-item {
}
.team-text {
}
/* #endregion team */
/* #region portfolio */
.portfolio {
}
.portfolio-list {
}
.portfolio-items {
}
.portfolio-text {
}
/* #endregion portfolio */
