/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* #region header */

.header-main {
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}
.logo {
  color: #4d5ae5;
}
.header-nav {
}
.nav-list {
}

.nav-item {
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
  cursor: pointer;
}
.contact {
}
.contact-list {
}
.contact-item {
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
  cursor: pointer;
}
/* #endregion header */
/* #region hero */
.hero {
  background: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion hero */
/* #region features */
.features {
}
.features-list {
}
.features-item {
}
.features-h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion features */
/* #region team */
.team {
  background-color: #f4f4fd;
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion team */
/* #region portfolio */
.portfolio {
}
.portfolio-list {
}
.portfolio-items {
}
.portfolio-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portfolio */
/* #region footer */
footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion footer */
